.space-above {
	margin-top: 150px;
}

.space-above-small {
	margin-top: 50px;
}

.space-below-small {
	margin-bottom: 50px;
}

.space-below {
	margin-bottom: 150px;
}

.main-banner {
	background-image: url('../images/splash-pic.jpg') !important;
	background-size: cover !important;
}

.grey-background {
	background-color: rgba(84, 84, 84, 0.13)!important
}

.overlay {
	width: 100%;
}

.visibility.example .overlay {
	width: 100%;
  background-color: #FFFFFF;
  padding: 0em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  background: transparent;
}
/* change style */
.visibility.example .fixed.overlay {
	width: 100%;
  position: fixed;
  padding: 1em;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
